
html {
  box-sizing: border-box;
  font-size: 16px;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

image {
margin-left: 10px;
padding-left: 10px;

}

h1{
  font-size: 32px;
  text-align: left;
  margin-top: 50px;
  margin-left: 100px;
}

h2 {
  font-size: 24px;
  text-align: left;
  margin-left: 100px;


}

p {
  font-size: 19px;
  line-height: 1.4em;
  margin-top:  0px; 0px;
  margin-left: 100px;

}

ul li {
 font-size: 18px;
  margin-left: 80px;
  padding: 20;
}

#time-cooking {
  margin-left: 200px;
  padding-left: 200px;

}

#cooking {

  margin-left: 200px;
  padding-left: 200px;
}

#applepic  {
   width: auto;
   weight: auto;
}